page-login {

    .title{
        font-size: 30px;
        text-align: center;
    }

    .title2{
        font-size: 20px;
        text-align: center;
    }

    .pieDeFirma{
        text-align: center;
        color: rgb(100, 100, 100);
        //text-shadow: 2px 2px #333333;
        position: absolute;
        bottom: 0px;
        left: 5px;
        font-size: 14px;
    }

}
